<div [ngClass]="{'hourly-main-container': !isHandset, 'hourly-main-container-mobile': isHandset}">
    <mat-card *ngFor="let weather of hourly" class="hourly-card">
        <div class="hourly-title">
            <!-- <mat-card-title> {{weather.dt | date: 'shortTime'}} </mat-card-title>
            <mat-card-subtitle>Lagos, Nigeria</mat-card-subtitle> -->
            <div>
                {{weather.dt * 1000 | date: 'shortTime'}}
            </div>
    
            <img [src]="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'"/>
    
            <div>
                <span class="mat-headline">{{getWholeNumber(weather.temp)  + '°'}}</span>
                &nbsp;
                <span class="mat-title">{{'/' + getWholeNumber(weather.feels_like)  + '°'}}</span>
            </div>
            <div>
                {{weather.pop | percent}}
            </div>
        </div>
    
        <mat-card-content>
    
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{weather.weather[0].main}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{weather.weather[0].description}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="hourly-description-content">
                    <mat-list class="hourly-description-content-child-1">
                        <mat-list-item>
                            <div class="description-list-item">
                                <span>
                                    Humidity
                                </span>
                                <span>
                                    {{weather.humidity + '%'}}
                                </span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="description-list-item">
                                <span>
                                    Pressure
                                </span>
                                <span>
                                    {{weather.pressure + 'mb'}}
                                </span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="description-list-item">
                                <span>
                                    Dew point
                                </span>
                                <span>
                                    {{weather.dew_point + '°'}}
                                </span>
                            </div>
                        </mat-list-item>
                    </mat-list>
                    <mat-list class="hourly-description-content-child-2">
                        <mat-list-item>
                            <div class="description-list-item">
                                <span>
                                    UV Index
                                </span>
                                <span>
                                    {{weather.uvi + ' of 10' }}
                                </span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="description-list-item">
                                <span>
                                    Visibility
                                </span>
                                <span>
                                    {{weather.visibility + 'km'}}
                                </span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="description-list-item">
                                <span>
                                    Wind speed
                                </span>
                                <span>
                                    {{weather.wind_speed + 'm/s'}}
                                </span>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-expansion-panel>
        </mat-card-content>
    </mat-card>
</div>