
<div [ngClass]="{'current-main-container': !isHandset, 'current-main-container-mobile': isHandset}">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{weather.dt * 1000 | date:'shortTime'}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="current-head-child-1">
                <div class="mat-display-3">{{getWholeNumber(weather.temp) + '°'}}</div>
                <div class="mat-headline">{{weather.weather[0].description | titlecase}}</div>
            </div>
            <div class="current-head-child-2">
                <img [src]="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'"/>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="current-description">
        <div class="current-description-header">
            <div class="current-description-header-child-1">
                <div class="mat-display-3">{{getWholeNumber(weather.feels_like) + '°'}}</div>
                <div class="mat-headline">{{'Feels like'}}</div>
            </div>
            <div class="current-description-header-child-2">
                <mat-list>
                    <mat-list-item>
                        <mat-icon class="description-header-icon">brightness_5</mat-icon>
                        <span>{{weather.sunrise * 1000 | date:'shortTime'}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon class="description-header-icon">brightness_3</mat-icon>
                        <span>{{weather.sunset * 1000 | date:'shortTime'}}</span>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div class="current-description-content">
            <mat-list class="current-description-content-child-1">
                <mat-list-item>
                    <div class="description-list-item">
                        <span>
                            Humidity
                        </span>
                        <span>
                            {{weather.humidity + '%'}}
                        </span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="description-list-item">
                        <span>
                            Pressure
                        </span>
                        <span>
                            {{weather.pressure + 'mb'}}
                        </span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="description-list-item">
                        <span>
                            Dew point
                        </span>
                        <span>
                            {{getWholeNumber(weather.dew_point) + '°'}}
                        </span>
                    </div>
                </mat-list-item>
            </mat-list>
            <mat-list class="current-description-content-child-2">
                <mat-list-item>
                    <div class="description-list-item">
                        <span>
                            UV Index
                        </span>
                        <span>
                            {{weather.uvi + ' of 10' }}
                        </span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="description-list-item">
                        <span>
                            Visibility
                        </span>
                        <span>
                            {{weather.visibility + 'km'}}
                        </span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="description-list-item">
                        <span>
                            Wind speed
                        </span>
                        <span>
                            {{weather.wind_speed + 'm/s'}}
                        </span>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card>
</div>